<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Twitter Profile Timeline</title>
    <meta name="description"
          content="See when your friends created their Twitter account." />
    <meta name="keywords" content="twitter, timeline, Ron Huang, ronhuang" />
    <meta name="author" content="Ron Huang" />
  </head>
  <body>
    <h1>Twitter Profile Timeline</h1>
    <div>
      Are you {{name}}? If not, please <a href="/signout">sign out</a>.
    </div>
  </body>
</html>
