<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Twitter Profile Timeline</title>
    <meta name="description"
          content="See when your friends created their Twitter account." />
    <meta name="keywords" content="twitter, timeline, Ron Huang, ronhuang" />
    <meta name="author" content="Ron Huang" />

    <style type="text/css">
      .label-self {
        color: #cc0000;
        font-style: italic;
      }
    </style>

    <script type="text/javascript"
            src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true">
    </script>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
    </script>
    <script type="text/javascript">
    var eventSource = new Timeline.DefaultEventSource();

    var tl;
    function onLoad() {
      var bandInfos = [
        Timeline.createBandInfo({
          eventSource: eventSource,
          width: "80%",
          intervalUnit: Timeline.DateTime.MONTH,
          intervalPixels: 300
        }),
        Timeline.createBandInfo({
          overview: true,
          eventSource: eventSource,
          width: "20%",
          intervalUnit: Timeline.DateTime.YEAR,
          intervalPixels: 100
        })
      ];

      bandInfos[1].syncWith = 0;
      bandInfos[1].highlight = true;

      tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);
    }

    var resizeTimerID = null;
    function onResize() {
      if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
          resizeTimerID = null;
          tl.layout();
        }, 500);
      }
    }

    function reload(url) {
      $.getJSON(url, function(data) {
        eventSource.clear();
        eventSource.loadJSON(data, document.location.href);
        tl.getBand(0).setCenterVisibleDate(new Date({{year}}, {{month|add:"-1"}}, {{day}}));
      });
    }

    $(onLoad);
    $(window).resize(onResize);
    $(function() {
      reload('/events/followers/0');
    });
    </script>
  </head>
  <body>
    <h1>Twitter Profile Timeline</h1>
    <h2>See when your friends created their Twitter account.</h2>
    <p>
      Are you {{name}}? If not, please <a href="/signout">sign out</a>.
    </p>

    <div id="my-timeline" style="height:400px; border:1px solid #aaa;"></div>
    <noscript>
      This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
    </noscript>
  </body>
</html>
